<h2>{{ title }}</h2>
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-sl-10 col-md-8 col-sl-offset-1 col-md-offset-2">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Server Name..." #serverName>
        <div class="input-group-append">
          <button class="btn btn-success" (click)="onAddServer(serverName.value)" type="button">Add Server</button>
        </div>
      </div>
      <br><br>
      <button class="btn btn-primary" (click)="onSave()">Save Server</button>
      <hr>
      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
